/* BALISES */
* {
	margin: 0px;
	padding: 0px;
	font-size: 16px;	
	font-family: Calibri, Trebuchet MS, Comic sans MS, sans-serif;
}

a, a:visited {
	color: #A28164;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


a img {
	border: none;
}

a,input,select,button {
	cursor: url('../ressources/img/design/curseur2.cur'), pointer;
	font-size:100%;
}

p, .text {
	text-align: justify;
	text-indent: 20px;
	margin-top:5px;
	margin-bottom: 10px;		
}

label {
	cursor: url('../ressources/img/design/curseur1.cur'), pointer;
}

h1 {
	text-align: center;
	font-size: 200%;
	text-shadow: 0px 0px 3px white;
	color: #8E6526;
	margin-top:10px;
	margin-bottom: 30px;
	border:solid 1px #DB892B;
	border-radius:5px;
	box-shadow:0px 0px 5px #D9AC77;
	background: -moz-linear-gradient(top,  rgba(249,176,39,1) 0%, rgba(234,222,126,0.5) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,176,39,1)), color-stop(100%,rgba(234,222,126,0.5)));
	background: -webkit-linear-gradient(top,  rgba(249,176,39,1) 0%,rgba(234,222,126,0.5) 100%); 
	background: -o-linear-gradient(top,  rgba(249,176,39,1) 0%,rgba(234,222,126,0.5) 100%); 
	background: -ms-linear-gradient(top,  rgba(249,176,39,1) 0%,rgba(234,222,126,0.5) 100%); 
	background: linear-gradient(to bottom,  rgba(249,176,39,1) 0%,rgba(234,222,126,0.5) 100%); 
	background-color: #F7F2B2;
}

h2 {
	text-align: left;
	font-size: 140%;
	color: #A57A38;
	padding-left:10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom:solid 1px #DB892B;
	box-shadow:0px 1px 1px #D9AC77;
}

h3 {
	text-align: left;
	font-size: 110%;
	color: #A57A38;
	padding-left:5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom:solid 1px #DB892B;
}

input[readonly=''],textarea[readonly=''] {
	background-color: #DBD2CA;
}

fieldset {
	border:1px solid #DB892B;	
	border-radius:5px;
	padding:10px;
	margin-top:10px;
}

legend {
	border:1px solid #DB892B;	
	border-radius:5px;
	padding:1px 5px 1px 5px;	
	background-color:#F6E497;
}

ul {
	padding-left:10px;
	margin:10px;
}

ul li {
	display:block;
	padding-left:30px;
	background-image:url('../ressources/img/puces/1.png');
	background-repeat:no-repeat;
}

ul ul li {
	background-image:url('../ressources/img/puces/2.png');
}

ul ul ul li {
	background-image:url('../ressources/img/puces/3.png');
}

ul ul ul ul li {
	background-image:url('../ressources/img/puces/4.png');
}

ul ul ul ul ul li {
	background-image:url('../ressources/img/puces/5.png');
}


/* CLASSES */

/* CLASSES - ENCADREMENT */

.cadre, .cadre_fond {
	border:1px solid #DB892B;	
	border-radius:5px;
	padding:15px;
	overflow:hidden;
	margin-top:10px;
	margin-bottom:10px;	
	position:relative;
}

.cadre_fond {
	background-color: #F7F2B2;
}

.cadre_fond .cadre_fond {
	background-color:#f7d591;
}

.cadre fieldset {
	background-color: #F7F2B2;
}

.cadre_fond fieldset {
	background-color:#f7d591;	
}

/* CLASSES - UTILES */

.pointer {
	cursor: url('../ressources/img/design/curseur2.cur'), pointer;
}

.cache, .hidden {
	display: none;
}

.justify {
	text-align: justify;
}

.overflow {
	overflow:hidden;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

.inline {
	display: inline;
}

.logopublicitepetit {
	height: 31px;
	width: 88px;
}

.erreur {
	color: red;
}

.good {
	color: brown;
}

.succes {
	color: #40A443;
}

.centrer,.center {
	text-align: center;
}

.sizable {
	resize: vertical;
	width: 680px;
	height: 100px;
	border: solid 1px #D5C5AE;
}

.table {
	border: 2px solid #BD8D46;
	border-radius:3px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border-collapse: collapse;
	vertical-align: middle;
	background-color:#FFCA7B;
}

.table tr td {
	padding: 2px 15px 2px 15px;
	background-color: #F7F2B2;
	border:1px solid #BD8D46;
}

.table_color tbody tr:nth-child(even) td {
	background-color: #F6E497;
}

.table thead tr th {
	color: #3C2C1C;
	background-color: #E5BC86;
	padding: 2px 5px 2px 5px;
	border:1px solid #BD8D46;
}

.pseudo {
	font-weight:bold;
}

/* IDENTIFIANTTS */
#barre_onglet {
	margin-left: 10px;
}

#barre_onglet span {
	border: 1px solid;
	border-radius: 4px 4px 0px 0px;
	margin-right: 4px;
	padding: 1px 3px 2px 3px;
	background-color: #FAE4C2;
	color: #795C42;
	position:relative;
	z-index:1;
}

#barre_onglet span.onglet_selected {
	padding: 2px 5px 2px 5px;
	background-color: #F7F2B2;
	color:#A1783A;
	border: 1px solid #E98C01;
	border-bottom:none;
	position:relative;
	z-index:3;
}

#barre_onglet + div.cadre,  #barre_onglet + div.cadre_fond {
	margin-top:1px;
	position:relative;
	z-index:2;
}