/* BALISES */
* {
	margin: 0px;
	padding: 0px;
	font-size: 16px;	
	font-family: Calibri, Trebuchet MS, Comic sans MS, sans-serif;
}

h1 {
	text-align: center;
	font-size: 200%;
	text-shadow: 0px 0px 3px #000;
	color: #E02104;
	margin-top:10px;
	margin-bottom: 30px;
	border-top: solid 1px #DB892B;
	border-bottom: solid 1px #DB892B;
	background: #f3c5bd;
	background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200));
	background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
	background: -o-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
	background: -ms-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
	background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );
}

